.DS_Store
.#*
*~
.byebug_history
npm-debug.log

/.capistrano
/.bundle
/vendor/bundle
/log/*.log*
/tmp/*
/db/*.sqlite3*
/public/system
/public/assets
/public/dist
/coverage
/plugin
/frontend/node_modules
/config/deploy/_*
/config/application.yml
/config/newrelic.yml

!.gitkeep
!.keep

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
